/*- Chris Lamb: August 2021 -*/
@import url('https://fonts.googleapis.com/css?family=Anton');
* {
	margin: 0;
	padding: 0;
}
@viewport{width:device-width}
body, html { /* Prevent mobile (esp Safari) from resizing our fonts  */
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-o-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
body {
	background-color: #e7e3d4;
	color: #182628;
	font: 14px 'Roboto', sans-serif;
	margin: 0;
	padding: 1rem 1rem 3rem 1rem;
}
svg {
	font-family: 'Roboto', sans-serif !important;
}
p {
	margin: .5rem 0;
}
.panel {
	background-color: #FFF;
	margin: 0 0 2em 0;
	padding: 4rem 1rem 1rem 1rem;
	position: relative;
}
button {
	cursor: pointer;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	outline: none;
}
button.tab {
	background-color: #90ccf4;
	background-size: 1.5rem;
	background-position: calc(100% - 1rem) 50%;
	background-repeat: no-repeat;
	border: none;
	color: #182628;
	font-size: 1rem;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	width: 100%;
}
button.tab.expanded {
	background-color: #6babfb;
}
button.tab span {
	background-size: 1.5rem;
	background-position: .5rem 50%;
	background-repeat: no-repeat;
	display: block;
	padding: .75rem .75rem .75rem 2.5rem;
}
.tanks button.tab {
	background-image: url(images/icon-chart.png);
}
.tanks button.tab span {
	background-image: url(images/icon-tank.png);
}
.gardens button.tab {
	background-image: url(images/icon-schedule.png);
}
.gardens button.tab span {
	background-image: url(images/icon-garden.png);
}
.lawns button.tab {
	background-image: url(images/icon-schedule.png);
}
.lawns button.tab span {
	background-image: url(images/icon-lawn.png);
}
div.expanded {
	padding-top: 1rem;
}
/* Tank panel */
.tank-visual {
	border: 2px solid #666;
	border-top: none;
	height: 50px;
	margin: 1rem 0;
	position: relative;
	width: calc(50% - 5rem);
}
.tank-visual-inner {
	background-color: rgba(69,114,167,0.65);
	content: '';
	display: block;
	position: absolute;
	left: -1px;
	right: -1px;
	bottom: -1px;
}
.tank-visual p {
	left: calc(100% + .75rem);
	font-weight: 600;
	margin: 0;
	position: absolute;
	width: max-content;
}
.tank-visual p::after {
	background-color: #666;
	content: '';
	display: block;
	height: 2px;
	left: -.75rem;
	position: absolute;
	width: .75rem;
}
.tank2 {
	position: absolute;
	right: 4rem;
	top: 4rem;
	width: calc(50% - 6rem);
}
.tank-history-select {
	background-color: #fff;
	border: 1px solid #666;
	margin-left: calc(100% - 8rem);
	padding: .25rem;
	width: 7rem;
}
/* Trigger buttons */
button.trigger {
	background-color: #ddddd9;
	display: inline;
	padding: .5rem 15%;
}
button.trigger + button.trigger {
	margin-left: -5px;
}
button.trigger.on.latched {
	background-color: #66CE90;
}
button.trigger.off.latched {
	background-color: #c96567;
}
/* Scheduling options */
/* TODO: Clean up */
label {
	display: inline-block;
}
.form-checkboxes {
	display: flex;
	margin: 1rem 0;
}
.form-checkboxes > div {
	width: calc(100% / 7)
}
input[type="checkbox"] {
	left: -9999rem;
	position: absolute;
}
input[type="checkbox"] + label {
	background-color: #ddddd9;
	cursor: pointer;
	display: block;
	padding: .5rem;
	text-align: center;
}
input[type="checkbox"]:checked + label {
	background-color: #4d6d9a;
	color: #FFF;
}
.form-times {
	margin: 1rem 0 0 0;
}
.form-times label {
	margin-right: 1rem;
	width: calc((100% / 3) - 2rem);
}
input[type="time"] {
	background-color: #fff;
	border: 1px solid #666;
	margin-bottom: 1rem;
	padding: .25rem;
	font: 1em 'Roboto', sans-serif;
	width: calc((100% / 3) * 2);
}
/* TODO: End clean up */
/* Schedule confirm/cancel buttons */
button.schedule {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2rem;
	border: none;
	height: 2rem;
	text-indent: -9999rem;
	width: 2rem;
}
button.schedule.confirm {
	background-image: url(images/icon-confirm.svg);
	background-size: 1.8rem;
}
button.schedule.cancel {
	background-image: url(images/icon-cancel.svg);
	background-size: 1.6rem;
}
button.schedule + button.schedule {
	margin-left: .5rem;
}
/* Footer */
.footer {
	background-color: #cdcdc9;
	bottom: 0;
	left: 0;
	padding: .5rem 1rem;
	position: fixed;
	right: 0;
}
.footer button.settings {
	background: transparent url(images/icon-settings.png) center center no-repeat;
	background-size: 2rem;
	border: none;
	float: right;
	height: 2rem;
	text-indent: -9999rem;
	transition: all 1s;
	width: 2rem;
}
.footer button.settings.animated {
	transform: rotate(90deg);
}
.footer .expanded {
	clear: right;
	padding-top: 1rem;
	text-align: right;
}
.footer .expanded button {
	background: none;
}
